html {
    height: 100%;
}

body {
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

pre {
    background-color:#000;
    color:#ccc;
    font-size: 10pt;
}

button {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 10px;
}